extends layout

block content
  div.login-container
    div.login-box
      h1.login-title Login
      form(action='/login', method='post')
        div.login-input-container
          label(for='username') Username
          input(type='text', name='username', id='username', placeholder='Username' autocomplete='off')
        div.login-input-container
          label(for='password') Password
          input(type='password', name='password', id='password', placeholder='Password' autocomplete='new-password')
        div.login-input-container
          button(type="submit" class="button primary") Login
        div.login-input-container
          p Don't have an account?
          button(type="submit" class="button secondary" style="margin-top: 8px;")
            a(href='/signup') Sign Up
